package com.nudroid.persistence;

#foreach( $delegateClass in $delegateClasses )
import $delegateClass.getName();
#end

import com.nurun.persistence.temp.vision.ContentUriRouter;
import android.content.UriMatcher;

public class ContentUriRegistry {

    static final UriMatcher URI_MATCHER;

    static {
        URI_MATCHER = new UriMatcher(UriMatcher.NO_MATCH);

#foreach( $uri in $contentProviderUris )
        URI_MATCHER.addURI("$uri.getAuthority()", "$uri.getNormalizedPath()", $uri.getId());
#end
    }

    public static ContentUriRouter getRouterFor(Object object) {

        Class<?> objectClass = object.getClass();

#foreach( $delegateClass in $delegateClasses )
        if (objectClass == ${delegateClass.getSimpleName()}.class) {
            return new ${delegateClass.getRouterSimpleName()}(($delegateClass.getSimpleName()) object);
        }   
        
#end
        return null;
    }
}