##-----------------------------------------------------------------
## Add delimiters in a delimiter separated list to all items but the last
##
## Param: $index      - pass in $velocityCount
## Param: $list       - pass in your velocity list variable
## Param: $delimiter  - the delimiter to use. This method will not add spaces by itself
##                      so provide the necessary space for this argument. For example: ", "
##-----------------------------------------------------------------
#macro( delimiterIfNeeded $index $list $delimiter )
#set ( $lastone = $list.size() - 1 )
#if( $index <= $lastone )$delimiter#else#end
#end
##(End Macro delimiterIfNeeded)------------------------------------
##
##
##-----------------------------------------------------------------
## Generates the source code conditional check to match all method query
## parameters with the URI query parameters
##
## Param: $methodParameterNames - The list of method parameter names
##-----------------------------------------------------------------
#macro( generateQueryParameterNamesMatcher $methodParameterNames)
queryParameterNames.size() == $methodParameterNames.size()##
#if ($methodParameterNames.size() > 0) && #end
#foreach( $parameterName in $methodParameterNames )queryParameterNames.contains("$parameterName")#delimiterIfNeeded( $velocityCount $methodParameterNames " && " )#end
#end
##(End Macro generateQueryParameterNamesMatcher)-------------------
##
##
##-----------------------------------------------------------------
## Generates the parameter list for the delegate method invokation
##
## Param: $paramaters - the list of Parameter objects for the method invokation
##-----------------------------------------------------------------
#macro( generateParamsList $paramaters )
#foreach( $parameter in $paramaters )
#if(     $parameter.isProjection() )
projection#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isSelection() )
selection#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isSelectionArgs() )
selectionArgs#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isSortOrder() )
sortOrder#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isContentValues() )
contentValues#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isContentUri() )
uri#delimiterIfNeeded( $velocityCount $paramaters ", " )
#elseif( $parameter.isPathParameter() )
#if( $parameter.isString())
pathSegments.get($parameter.getPathParamPosition())#delimiterIfNeeded( $velocityCount $paramaters ", " )
#else
pathSegments.get($parameter.getPathParamPosition())#delimiterIfNeeded( $velocityCount $paramaters ", " ) ##This will be reoplaced by conversion later on.
#end##if $parameter.isPathParameter()
#elseif( $parameter.isQueryParameter() )
#if( $parameter.isString())
uri.getQueryParameter("$parameter.getQueryParameterName()")#delimiterIfNeeded( $velocityCount $paramaters ", " )
#else
uri.getQueryParameter("$parameter.getQueryParameterName()")#delimiterIfNeeded( $velocityCount $paramaters ", " )
#end##if $parameter.isPathParameter()
#else
    null#delimiterIfNeeded( $velocityCount $paramaters ", " )
#end##if $parameter.isProjection()
#end##for each $parameter in $paramaters
#end##macro
##(End Macro generateParamsList)-----------------------------------
##
##
package com.nudroid.persistence;

import android.content.ContentValues;
import android.database.Cursor;
import android.net.Uri;
import android.content.UriMatcher;

import ${delegateClass.getQualifiedName()};

#foreach($interceptor in $delegateClass.getRegisteredInterceptors())
import $interceptor.getFullyQualifiedName();
#end

#[[/**
 * @author Auto-generated by Nudroid's persistence annotation processor.
 */]]#
public class ${delegateClass.getSimpleName()}Router {

    static final UriMatcher URI_MATCHER;

    static {
        URI_MATCHER = new UriMatcher(UriMatcher.NO_MATCH);

#foreach( $uri in ${delegateClass.getmMactherUris()} )
        URI_MATCHER.addURI("$uri.getAuthorityName()", "$uri.getNormalizedPath()", $uri.getId());
#end
    }

    private $delegateClass.getSimpleName() mDelegate;
    
#foreach($interceptor in $delegateClass.getRegisteredInterceptors())
    private ${interceptor.getSimpleName()} m${interceptor.getSimpleName()} = new ${interceptor.getSimpleName()}();
#end
    
    public ${delegateClass.getSimpleName()}Router($delegateClass.getSimpleName() delegate) {
    
        this.mDelegate = delegate;
    }

#[[    /**
     * <p/>
     * {@inheritDoc}
     * 
     * @see com.nurun.persistence.temp.vision.ContentUriRouter#query(android.net.Uri, java.lang.String[],
     *      java.lang.String, java.lang.String[], java.lang.String)
     */]]#
    public Cursor query(Uri uri, String[] projection, String selection, String[] selectionArgs, String sortOrder) {

        java.util.Set<String> queryParameterNames = uri.getQueryParameterNames();
    
        switch (URI_MATCHER.match(uri)) {
#foreach( $uriId in $delegateClass.getUriIds() )
        case $uriId:

#foreach( $delegateMethod in $delegateClass.getUriIdToDelegateMethodRegistry().get($uriId) )            
            if (#generateQueryParameterNamesMatcher($delegateMethod.getQueryStringParameterNames())) {

#foreach($interceptor in $delegateMethod.getBeforeInterceptorList())
                m${interceptor.getSimpleName()}.beforeQuery(uri, projection, selection, selectionArgs, sortOrder);
#end

#if ( $delegateMethod.hasUriPlaceholders() )
                java.util.List<String> pathSegments = uri.getPathSegments();
#end
                Cursor result = mDelegate.${delegateMethod.getName()}(#generateParamsList($delegateMethod.getParameters()));

#foreach($interceptor in $delegateMethod.getAfterInterceptorList())
                result = m${interceptor.getSimpleName()}.afterQuery(result, uri, projection, selection, selectionArgs, sortOrder);
#end
                return result;
            }
            
#end

            throw new IllegalArgumentException(String.format("Uri %s is not properly mapped in content provider delegate %s",
                    uri, mDelegate.getClass()));
#end
        default:
        
            throw new IllegalArgumentException(String.format("Uri %s is not properly mapped in content provider delegate %s",
                    uri, mDelegate.getClass()));
        }
    }

#[[    /**
     * <p/>
     * {@inheritDoc}
     * 
     * @see com.nurun.persistence.temp.vision.ContentUriRouter#insert(android.net.Uri, android.content.ContentValues)
     */]]#
    public Uri insert(Uri uri, ContentValues values) {

        return null;
    }
    
#[[    /**
     * <p/>
     * {@inheritDoc}
     * 
     * @see com.nurun.persistence.temp.vision.ContentUriRouter#update(android.net.Uri, android.content.ContentValues,
     *      java.lang.String, java.lang.String[])
     */]]#
    public int update(Uri uri, ContentValues contentValues, String selection, String[] selectionArgs) {

        return 0;
    }

#[[    /**
     * <p/>
     * {@inheritDoc}
     * 
     * @see com.nurun.persistence.temp.vision.ContentUriRouter#delete(android.net.Uri, java.lang.String,
     *      java.lang.String[])
     */]]#
    public int delete(Uri uri, String selection, String[] selectionArgs) {

        return 0;
    }
    
#[[    /**
     * <p/>
     * {@inheritDoc}
     * 
     * @see com.nurun.persistence.temp.vision.ContentUriRouter#getType(android.net.Uri)
     */]]#
    public String getType(Uri uri) {

        return null;
    }

    @SuppressWarnings("unchecked")
    private <T> T convert(String queryParameter, Class<T> clazz) {

        if (clazz.equals(Integer.class)) {
            return (T) Integer.valueOf(Integer.parseInt(queryParameter));
        }

        if (clazz.equals(Long.class)) {
            return (T) Long.valueOf(Long.parseLong(queryParameter));
        }

        if (clazz.equals(Float.class)) {
            return (T) Float.valueOf(Float.parseFloat(queryParameter));
        }

        if (clazz.equals(Double.class)) {
            return (T) Double.valueOf(Double.parseDouble(queryParameter));
        }
        
        throw new IllegalArgumentException(String.format("Unable to convert string '%s' to type %s.", queryParameter, clazz.getName()));
    }
}