**/Main.java
.cache
.target
bin
logs
test-output
project/project
project/target
target
tmp
.history
dist
.gradle
build
**/.idea
**/*.iml
/out
**/.idea_modules
/RUNNING_PID
**/.classpath
**/.project
**/.settings
*.iml
**/*.ipr
**/*.iws
**/generated
