package com.nudroid.persistence;

#foreach( $contentProvider in $contentProviders )
import $contentProvider.toString();
#end

import com.nurun.persistence.temp.vision.ContentUriRouter;
import android.content.UriMatcher;

public class ContentUriRegistry {

    static final UriMatcher URI_MATCHER;

    static {
        URI_MATCHER = new UriMatcher(UriMatcher.NO_MATCH);

#foreach( $authority in $authoritiesAndUris.keySet() )
#foreach( $uri in $authoritiesAndUris.get($authority) )
        URI_MATCHER.addURI("$authority", "$uri", $velocityCount);
#end
#end
    }

    public static ContentUriRouter getRouterFor(Object object) {

        Class<?> objectClass = object.getClass();

#foreach( $contentProvider in $contentProviders )
        if (objectClass == ${contentProvider.getSimpleName()}.class) {
            // return new ${contentProvider.getSimpleName()}Router(($contentProvider.getSimpleName()) object)
        }   
        
#end
        return null;
    }
}